body{
  font-family: sans-serif;
}

#game-title {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  padding-right: 0px;
  margin-top: 40px;
}

.row {
  width: 306px;
  /*width: 306px;*/
  height: 100px;
  border: 1px solid black;
  margin: 0 auto;
}
/*
.col {
  width: 100px;
  height: 306px;
  border: 1px solid red;
  display: inline-block;
  vertical-align: top;
}*/

.box {
  /*position: fixed;*/
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 1px solid black;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
  /*vertical-align: top;*/

}

.box:hover{
  background-color: yellow;
  cursor: pointer;
}
